In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from unicodedata import normalize

In [6]:
NBA_tables = pd.read_html('https://en.wikipedia.org/wiki/NBA_Finals',
match = 'Finals appearances')
len(NBA_tables)

2

In [3]:
NBA_table = NBA_tables[0]

In [4]:
NBA_table.head()

,No.,Team,W,L,Win%,Most recent appearance,Most recent title,Notes
0,32,Minneapolis/Los Angeles Lakers,17,15,0.531,2020,2020,5–1 in Minneapolis and 12–14 in Los Angeles. C...
1,22,Boston Celtics,17,4,0.810,2022,2008,"Won eight straight titles from 1959 to 1966, a..."
2,12,Philadelphia/San Francisco/Golden State Warriors,6,5,0.545,2022,2018,2–1 in Philadelphia and 4–4 in California. Won...
3,9,Syracuse Nationals/Philadelphia 76ers,3,6,0.333,2001,1983,1–2 in Syracuse and 2–4 in Philadelphia. Won o...
4,8,New York Knicks,2,6,0.250,1999,1973,"In their most recent appearance, they became t..."

In [10]:
NBA_table = NBA_tables[1]
NBA_table.head()

,P,Team,W,L,Win,Notes
0,185,Los Angeles Lakers,93,92,0.503,Holds the record for the most games in a Final...
1,129,Boston Celtics,77,52,0.597,Recorded the first ever sweep in the Finals. L...
2,53,Philadelphia 76ers,24,29,0.453,"Includes a record of 9–11 while in Syracuse, a..."
3,59,Golden State Warriors,34,25,0.576,Includes records of 10–6 while in Philadelphia...
4,48,New York Knicks,20,28,0.417,Lost 4–1 in their last Finals appearance in 1999.